@import "../../style/vars";

.education{
    @extend %section;
    &__inner{
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        column-gap: 20px;
    }
    &__title{
        grid-column: 2 / 4; 
        margin-bottom: 8vh;
        font-weight: light;
        font-size: 64px;
        display: flex;
        justify-content: space-between;
    }
    &__list{
        grid-column: 2 / 4;
    }
    &__item{
        padding: 4vh 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        position: relative;
        // border-bottom: $white 1px solid;
        align-items: center;
        &::after{
            content: '';
            position: absolute;
            height: 1px;
            background-color: $white;
            width: 100%;
            right: 0;
            // transform: translateY(20%);
            // transition: all .5s;
            bottom: 80px;
            opacity: 0;
        }
    } 
    .education__text{
        transform: translateY(-30%);
        opacity: 0;
    }
    &__term{
        transform: translateY(-30%);
        opacity: 0;
        word-spacing: 20px;
        font-size: 32px;
        @extend %poiret-400;
    }
}