@import "../../style/vars";

.header{
    &__inner{
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    @extend %poiret-400;
    text-transform: uppercase;
    font-size: 32px;
}

.menu{
    &__list{
        display: flex;
    }
    &__item + &__item{
        position: relative;
        margin-left: 60px; 
        &::before{
            content:"/";
            opacity: .5;
            position: absolute;
            top: 12px;
            left: -36px;
        }
    }
    &__link{
        @extend %link;
    }
}
