@import "vars";

.appearanceOnLeft{
    animation: appearance-on-left 1.5s;
}

@keyframes appearance-on-left {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}