@font-face {
    font-family:'Raleway-Light';
    font-weight: 300;
    font-style: normal;
    src: local('Raleway-Light'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff');
    font-display: block;
}

@font-face {
    font-family:'PoiretOne-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('PoiretOne-Regular'),
        url('../fonts/PoiretOne-Regular.woff2') format('woff2'),
        url('../fonts/PoiretOne-Regular.woff') format('woff');
    font-display: block;
}