@import "./vars";

*{
    line-height: 110%;
}

body{  
    font-feature-settings: 'pnum' on, 'lnum' on;
    background-color: $bg;
    @extend %raleway-300;
    font-size: 20px;
    color: $white;   
    height: 100vh;
}

.swiper-wrapper{
    height: 100vh;
}

.container{
    max-width: 1720px;
    padding: 0 20px;
    margin: 0 auto;
}