@import "./vars";

*{
    line-height: 110%;
}

body{  
    font-feature-settings: 'pnum' on, 'lnum' on;
    background-color: $bg;
    @extend %raleway-300;
    font-size: 20px;
    color: $white;   
    height: 100vh;
}

.swiper-wrapper{
    height: 100vh;
}

@media(max-width:1500px){
    body{
        font-size: 18px;
    }
}

@media(max-width:1300px){
    body{
        font-size: 16px;
    }
}