@import "./vars";

html,
body,
#root{
   height: 100%;
}

*{
    line-height: 110%;
}

body{
    background-color: $bg;
    @extend %raleway-300;
    font-size: 20px;
    color: $white;   
}

#root{  
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1 ;
}

.container{
    max-width: 1720px;
    padding: 0 20px;
    margin: 0 auto;
}