@import "./_fonts.scss";
$bg: #050505;
$white: #fff;

%raleway-300{
    font-family: "Raleway-Light";
    font-weight: 300;
}

%poiret-400{
    font-family: "PoiretOne-Regular";
    font-weight: 400;
} 