@import "../../style/vars";

.footer{
    &__inner{
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr auto;
        column-gap: 20px;
        padding: 40px 0;
    }
    &__title{
        grid-column: span 3;
        @extend %title;
    }
    &__column{
        grid-row-start: 2;      
    }
    .first-column{
        grid-column: 2;
    }
    .second-column{
        grid-column: 3;
    }
    &__social-link{
        display: inline-block;
        @extend %big-link;        
        margin-bottom: 120px;
    }
    &__text{
        margin-bottom: 10px;
        opacity: .5;
    }
    &__link{
        color: $white;
    }
    &__decor{
        grid-column-start: 2;
        grid-row-start: 3;
        align-self: flex-end;
        span{
            display: inline-block;
            margin-right: 20px;
            font-size: 32px;
        }
    }
}